:root {
    --background-c: #98DFAF;
    --accent-c: #5FB49C;
    --bright: #DEEFB7;

    --dark: #000;
    --white: #fff;

    --whiten: rgba(255, 255, 255, 0.13);
    --darken: rgba(0, 0, 0, 0.13);
}

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}

body {
    background-color: var(--background-c);
    color: var(--dark);
    gap: 10px;
}

.row {
    display: inline-flex;
    gap: 10px;
    flex-grow: 1;
}

.justify {
    justify-content: space-between;
}

.content {
    margin-bottom: 10px;
}

.centered {
    text-align: center;
}

.flex {
    display: flex;
}

.block {
    flex-grow: 1;
}

.item {
    background-color: var(--accent-c);
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 15px;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;

    background-color: var(--accent-c);

    margin: 0;
    padding-left: 4rem;
    padding-right: 4rem;
    height: 72px;
    width: calc(100% - 16px);
    border-radius: 15px;

    align-items: center;
}

.nav-filler {
    margin-top: 82px;
}

.menu {
    display: inline-flex;
    gap: 2rem;
}

ul li {
    padding: 10px;
    text-decoration: none;
    list-style: none;
}






.bl50 {
    flex-basis: calc(100% / 2);
}

.bl1 {
    flex-grow: 1;
}

.bl2 {
    flex-grow: 2;
}